
body {
    font-family: Arial, sans-serif;
    background-color: #002544; 
    color: #fff;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between; /* Add this line */
    padding-left: 0%;
    width: 100%;
    padding: 20px;
}

.section {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;

    h2 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.socials {
    text-align: center; /* Add this line */
}

.socials li {
    text-align: center; /* Add this line */
}

.socials a {
    margin-right: 10px; /* Add this line */
}

.sponsors {

    padding-left: 4%;

    img {
        max-width: 80%; 
        margin: 10px 0;
    }

    p {
        margin-top: auto;
    }
}

.contacts {
    ul {
        list-style: none;


        li {
            margin-bottom: 5px;

            color: #02AF66; 
        }
    }
}



.developers {
    margin-left: 15%;
    h2{
        margin-left: 40%;
    }


    ul {
        margin-left: 40%;
        list-style: none;


        li {
            
            margin-bottom: 5px;
            color: #02AF66; /* Adjust the text color to match your image */
        }
    }
}