
<body>
    <div class="container">
        <div class="section sponsors">
            <h2>Sponsored By</h2>
            <img src="../../assets/images/Brinqa_Logo.png" alt="Empty">
            <img src="brinqa.png" alt="Empty">
        </div>
        <div class="section developers">
            <h2>Developers</h2>
            <ul>
                <li>Valentin Casanova</li>
                <li>Joseph Schiedt</li>
                <li>Gea Loro</li>
                <li>Satoki Ohashi</li>
                <li>Santosh Shrestha</li>
            </ul>
        </div>
        <div class="section contacts">
            <h2>Contacts</h2>
            <ul>
                <li>example1.com</li>
                <li>example2gmail.com</li>
                <li>example3gmail.com</li>
                <li>example4gmail.com</li>
                <li>example5gmail.com</li>
            </ul>
        </div>
    </div>
</body>
