<mat-grid-list cols="8" rowHeight="100px">
    @for (tile of tiles; track tile) {
      <mat-grid-tile
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <img [src]="tile.imageUrl" alt="{{tile.text}}" class="tile-image">
      </mat-grid-tile>
    }
</mat-grid-list>

<section class="header-text-container">
<div class="content-header">
    <h1>A New Solution to Onboarding Clients</h1>
    <p>Use our simple editor to create thousands of unique onboarding guides!</p>
  </div>
</section>

<section class="features-container">
    <div class="content-left">
      <div class="features-texts">
        <div class="features-title">
          <div class="image-wrapper">
            <img src="../../assets/images/Step Number 1.png" alt="Empty" class="header-image">
          </div>
          <h1>Pick your template</h1>
        </div>
        <p>
            Choose between our premade templates, or create a new onboarding guide from scratch, then save your changes on
            a JSON file and upload it later to work on it more!
        </p>
      </div>
    </div>
    <div class="content-right">
      <mat-card class="image-card">
        <img mat-card-image src="../../assets/images/templates.png" alt="Empty" >
      </mat-card>
    </div>
  </section>

  <section class="features-container">
    <div class="content-left">
        <mat-card class="image-card">
          <img mat-card-image src="../../assets/images/editor.png" alt="Empty" >
        </mat-card>
    </div>
    <div class="content-right">
      <div class="features-texts">
        <div class="features-title">
          <div class="image-wrapper">
            <img src="../../assets/images/Step Number 2.png" alt="Empty" class="header-image">
          </div>
          <h1>Create your custom onboarding guide</h1>
        </div>
        <p>
            Customize your buttons, pop-ups, multiple selection, yes/no choices, validation inputs, add logos,
            advice, allow the client to upload files, follow links, and so much more!
        </p>
      </div>
    </div>
  </section>

  <section class="features-container">
    <div class="content-left">
      <div class="features-texts">
        <div class="features-title">
          <div class="image-wrapper">
            <img src="../../assets/images/Step Number 3.png" alt="Empty" class="header-image">
          </div>
          <h1>Download the JSON file</h1>
        </div>
        <p>
            Once the client has successfully completed the onboarding process, utilize the JSON file
            to extract all your answers, or simply upload it in our editor to view the selections directly
            within the UI!
        </p>
      </div>
    </div>
    <div class="content-right">
      <mat-card class="image-card">
        <img mat-card-image src="../../assets/images/JSON2.png" alt="Empty" >
      </mat-card>
    </div>
  </section>
