<mat-grid-list cols="8" rowHeight="100px">
    @for (tile of tiles; track tile) {
      <mat-grid-tile
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <img [src]="tile.imageUrl" alt="{{tile.text}}" class="tile-image">
      </mat-grid-tile>
    }
</mat-grid-list>

<section class="header-text-container">
<div class="content-header">
    <h1>Stop hard-coding Angular App</h1>
    <p>Register the code components you already use to Builder.io, then drag-and-drop them into place.</p>
  </div>
</section>

<section class="features-container">
    <div class="content-left">
      <div class="features-texts">
        <div class="image-wrapper">
            <img src="../../assets/images/Step Number 1.png" alt="Empty" class="header-image">
          </div>
        <h1>Pick your template</h1>
        <p>
            Stop drowning in a backlog of requests to create, edit, and 
            manage content. Adopt a better, simpler, and more custom 
            component-driven approach to your angular application.
        </p>
      </div>
    </div>
    <div class="content-right">
      <mat-card class="image-card">
        <img mat-card-image src="../../assets/images/templates.png" alt="Empty" >
      </mat-card>
    </div>
  </section>

  <section class="features-container">
    <div class="content-left">
        <mat-card class="image-card">
          <img mat-card-image src="../../assets/images/editor.png" alt="Empty" >
        </mat-card>
    </div>
    <div class="content-right">
      <div class="features-texts">
        <div class="image-wrapper">
            <img src="../../assets/images/Step Number 2.png" alt="Empty" class="header-image">
          </div>
        <h1>Create your custom onboarding guide</h1>
        <p>
            Stop drowning in a backlog of requests to create, edit, and 
            manage content. Adopt a better, simpler, and more custom 
            component-driven approach to your angular application.
        </p>
      </div>
    </div>
  </section>

  <section class="features-container">
    <div class="content-left">
      <div class="features-texts">
        <div class="image-wrapper">
            <img src="../../assets/images/Step Number 3.png" alt="Empty" class="header-image">
          </div>
        <h1>Download the JSON file</h1>
        <p>
            Stop drowning in a backlog of requests to create, edit, and 
            manage content. Adopt a better, simpler, and more custom 
            component-driven approach to your angular application.
        </p>
      </div>
    </div>
    <div class="content-right">
      <mat-card class="image-card">
        <img mat-card-image src="../../assets/images/JSON.png" alt="Empty" >
      </mat-card>
    </div>
  </section>