.centered-text {
  text-align: center;
  padding: 20px; /* Adjust padding as needed */
  font-size: 42px; /* Match font size of the h1 in the section */
  line-height: normal; /* Ensure line height matches */
}

.centered-text p {
  font-size: 16px; /* Match font size of the p in the section */
  width: 90%; /* Match the width of the p in the section */
  margin: auto; /* Center the paragraph */
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.content-left {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.content-right {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.features-container p {
  font-size: 16px;
  width: 90%;
}

.image-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.features-texts {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.features-container h1 {
  font-size: 42px;
  line-height: normal;
  margin: 0px;
}

.features-container {
  display: flex;
  height: auto; /* Change from 100vh to auto to allow the container to shrink */
  margin: 20px 0; /* Adjust top and bottom margins as needed */
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.image-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.header-image {
  max-width: 100%;
  height: auto;
}

.content-header {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.header-text-container h1 {
  font-size: 42px;
  margin-top: 50px;
}

.features-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
